@import 'tailwindcss';

@font-face {
    font-family: "Poppins-bold";
    src: url(../fonts/poppins/Poppins-Bold.ttf) format("opentype");
    font: bold;
}

@font-face {
    font-family: "Poppins-regular";
    src: url(../fonts/poppins/Poppins-Regular.ttf)format("opentype");
    font: bold;
}

@theme {
    /* default-colors */
    --color-primary-color: #1C2456;
    --color-secondary-color: #ffffff;
    --color-title: #101828;
    --color-background: #f7fafc;
    --color-alert: #e53e3e;
    --color-confirm: #48bb78;

    /* fonts */
    --font-default: 'Poppins-regular';
    --font-title: 'Poppins-bold';
}